<div class="alert bg-primary alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Coronavirus (COVID-19) Update</strong> <a href="/home">truckloads.net</a> is Open for business.
  </div>